<div class="fgContainer2">
  <h1> Create Task </h1>
  <hr>
    <div class="mat-elevation-z8">
      <form autocomplete="off" [formGroup]="form1">
      <div class="form-group row  form-formulario">
        <label for="description" class="col-sm-3 col-form-label">Description:</label>
        <div class="col-sm-9">
          <input type="text"
            formControlName="description" 
            [class.is-invalid]="descriptionNoValid">
             <small *ngIf="descriptionNoValid" class="text-danger">
                        Description is required</small>
                        </div>
      </div>

      <div class="form-group row  form-formulario">
        <label for="user" class="col-sm-3 col-form-label">User:</label>
        <div class="col-sm-9">
          <select class="custom-select mr-sm-2" formControlName="user">
              <option *ngFor="let usr of users" [ngValue]="usr.id">
                  {{ usr.name }}
              </option>
          </select>
          <small *ngIf="userNoValid" class="text-danger">
                    User is required</small></div>
      </div>

      <div class="form-group row  form-formulario">
        <label for="name" class="col-sm-3 col-form-label">State:</label>
        <div class="col-sm-9">
          <select class="custom-select mr-sm-2" formControlName="state">
              <option value="To Do">To Do</option>
              <option value="To Done">To Done</option>
          </select>
             <small *ngIf="stateNoValid" class="text-danger">
                        State is required</small></div>
      </div>
          </form>
    <div class="alert alert-danger" role="alert" *ngIf="error">
  {{ msgError }}
</div>
  <br>
  </div>
  <div class="form-group row  form-formulario d-flex flex-row-reverse">
    <button class="btn btn-info" type="submit" (click)="saveTask()">Save</button>&nbsp;
    <button mat-button class="btn btn-light" (click)= "closeTask()"><span aria-hidden="true">Back</span></button>
  </div >
</div >

